<ion-content>
  <!-- Login -->
  <div class='bg-login'  *ngIf="login" [@login]>
    <!--Overlay
    <div class = 'overlay'>

    </div>-->

    <!-- LOGIN CONTAINNER-->
    <div>
      <!-- LOGO-->
      <div class="center padding-top-20">
        <img src="assets/imgs/logo-coracao.png" alt="" class="logo-coracao-login">
      </div>
      <!--TEXTO
      <div class = "mg-top-30 ">
           TITULO
           SUBTITULO
      </div> -->
      <!-- FORM -->
    <form #form="ngForm" novalidate>
      <div class="padding-login">
        <ion-item class="bg-transparent no-padding">
          <ion-label color="red" stacked class="letra bold">E-mail</ion-label>
          <ion-input type="email" class="letra" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
        </ion-item>


        <ion-item class="bg-transparent no-padding">
          <ion-label stacked class="letra bold">Senha</ion-label>
          <ion-input type="password" class="letra"name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>

        </ion-item>
  

      </div>
      <!--cta-->
      <div class="botaoCadastrar">
          <button ion-button block class="ctaLogin" [disabled]="!form.form.valid" (click)="signIn()">
          Entrar
          </button>
      </div>
    </form>
     <!--NOVA CONTA-->
      <div class="letra light mg-top20 center"(click)="exibirRegistrar()">
         Quero criar uma conta
      </div>
    </div>
  </div>

   <!-- Registro -->
   <div class='bg-register' *ngIf="register" [@registro]>
    <!--Overlay
    <div class = 'overlay'>

    </div>-->

    <!-- Register CONTAINNER-->
    <div>
      <!-- LOGO-->
      <div class="center padding-top-20">
        <img src="assets/imgs/logo-coracao.png" alt="" class="logo-coracao-login">
      </div>
      <!--TEXTO-->
      <div class="mg-top-30 ">
           <h5 class="letra center bold no-margin">
             Eba!Vamos lá
           </h5>
           <p class="letra center light no-margin mg-top-5">
              Crie suas credencias para acessar o app
           </p>
      </div> 

      <!-- FORM -->
    <form #form="ngForm" novalidate>
      <div class="padding-register">

        <ion-item class="bg-transparent no-padding mg-top-30">
          <ion-label stacked class="letra bold">Como você se chama?</ion-label>
          <ion-input type="text" name="nome"class="gunmetal"[(ngModel)]="user.name"#nome="ngModel" required></ion-input>
        </ion-item>
        <ion-item class="bg-transparent no-padding mg-top-20">
          <ion-label stacked class="letra bold">Qual é o seu e-mail?</ion-label>
          <ion-input type="text" class="gunmetal" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
          <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
            O campo é obrigatório
          </ion-item>
        </ion-item>

        <ion-item class="bg-transparent no-padding">
          
          <ion-label stacked class="letra bold">Escolha uma senha:</ion-label>
          <ion-input type="password" class="gunmetal" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
        </ion-item>
        <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
            O campo é obrigatório
          </ion-item>

      </div>
      <!--cta-->
      <div class="botaoCadastrar">
          <button ion-button block class="ctaLogin" [disabled]="!form.form.valid" (click)="criarNovaConta2()">
          Cadastrar
          </button>
      </div>
    </form>
      <!--Já tenho conta-->
      <div class="letra light mg-top-20 center"(click)="exibirLogin()">
        Já tenho uma conta
      </div>
    </div>
  </div>

</ion-content>